* {
    box-sizing: border-box;
}

/* FONT */

@font-face {
    font-family: Impact;
    src: url(/fonts/impact.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(/fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: Montserrat-Thin;
    src: url(/fonts/Montserrat/Montserrat-Thin.ttf);
}

/* BASE */

/* html { */

/* font-family: Lato-Regular, sans-serif; */

/* } */

body {
    margin: 0;
    height: 100vh;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    width: 100%;
}

.main-nav {
    /* gap: 100px; */
    align-self: flex-end;
}

/* .main-nav li { */

/* border: 1px solid grey; */

/* } */

.main-nav>* a {
    color: #ffffff;
    font-size: 1rem;
    /* font-size: .59375rem; */
    text-decoration: none;
    /* font-family: fantasy; */
    font-family: Montserrat-Regular;
    padding-bottom: 15px;
}

/* .main-nav li:hover a {
    color: #040a2c;
} */

.main-nav li:hover a {
    box-shadow: inset 0 -3px #040a2c;
    color: #040a2c;
}

/* .main-nav li:first-child a{
    padding-inline-end: 5px;
} */

.main-nav li:first-child a {
    margin-inline-end: 20px;
}

.main-nav li:last-child a {
    margin-inline-start: 20px;
}

.main-nav li:last-child {
    border-left: 1px solid #8a8a8a;
}

.meme-edit {
    display: none;
    background-color: cornsilk;
    justify-content: space-between;
    gap: 15px;
    border: 5px dotted brown;
    padding-bottom: 20px;
    padding-top: 20px;
    /* margin-top: 40px; */
}

.canvas-container {
    margin: 0 auto;
    position: relative;
}

.meme-canvas {
    border: 2px solid black;
    /* margin: 0 auto; */
}

.control-box {
    border: 2px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.text-add {
    margin: 5px auto;
}

input[name="textLine"] {
    text-align: center;
}

.font-size {
    background-color: brown;
    padding: 3px;
    border-radius: 3px;
}

input[name="search"] {
    text-decoration: underline;
    border: 0px solid;
    text-align: center;
}

.search-icon {
    background: #ffffff;
    border: none;
}

.Layer-2 {
    /* width: 66.5px;
    height: 11px; */
    object-fit: contain;
}

/* .main-header .logo img { */

/* padding: 3px; */

/* width: 5rem; */

/* height: 5rem; */

/* height: 33px; */

/* } */

.logo {
    display: flex;
    justify-content: center;
}

.header-container {
    background-color: #ff7f00;
    /* margin-bottom: 20px; */
    height: 50px;
}

.main-header {
    height: 100%;
    margin: 0 auto;
    align-items: center;
}

.main-container {
    background-color: #e3e3e3;
}

.search-input {
    margin: 20px 0;
}

.image-gallery {
    /* margin: 0 50px 0 50px; */
    margin: 0 auto;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-auto-rows: 380px; */
    gap: 40px;
    justify-items: stretch;
    padding-top: 20px;
    border-bottom: 2px solid grey;
    justify-content: stretch;
}

.image-gallery img {
    /* width: 100%; */
    height: 100%;
    /* overflow: hidden; */
    /* background-size: cover;
    background-image: url(your/image.jpg); */
    /* object-fit: contain; */
    /* height: 100%; */
    /* width: 100%; */
    border-radius: 5px;
}

.main-footer {
    align-items: center;
    gap: 25px;
    margin-top: 105px;
    background-color: #ff7f00;
    height: 103.5px;
}

.social-nav>* a {
    color: #ffffff;
    font-size: 14px;
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a1366;
    text-decoration: none;
}

.main-footer small {
    font-family: Montserrat-Thin;
}

.social-nav {
    gap: 19px;
}

.social-nav>* a:hover {
    background-color: #516FAD;
    cursor: pointer;
}

/* layouts */

.main-layout {
    margin: 0 auto;
    width: 981px;
    /* border-right: 2px solid grey; */
    /* border-left: 2px solid grey; */
}

/* Helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.grid {
    display: grid;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.column {
    flex-direction: column;
}